.area-criar{
    width: 950px;
}
.titulo-criar{
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 30px;
    font-weight: 700;
    color: var(--cor-verde-escuro);
    margin: 1em 0 .8em 0;
}
.itens-criar{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.botao-criar{
    width: 262px;
    margin-bottom: 5em;
}