.linha-peladas{
    width: 800px;
    border-top: 1px solid #898C86;
}
.selecao{
    color: var(--cor-verde-escuro);
    border: 2px solid var(--cor-verde-escuro);
    height: 50px;
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 16px;
}
.btn-filtrar{
    background: var(--cor-verde-escuro);
    border: 1px solid var(--cor-verde-escuro);
    border-radius: 10px;
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 700;
    margin: 1em 0 .5em 48em;
    color: var(--cor-offwhite);
    padding: 8px 16px;
}
.filtros{
    display: flex;
    margin: 0 0 0 1em;
}
p {
    color: var(--cor-verde-escuro);
    font-family: var(--fonte-principal);
    font-weight: 700;
}
input{
    border: 2px solid var(--cor-verde-escuro);
    color: var(--cor-verde-claro);
    font-family: var(--fonte-principal);
    font-weight: 500;
    border-radius: 10px;
    padding: 5px 0;
} 
select{
    border: 2px solid var(--cor-verde-escuro);
    color: var(--cor-verde-claro);
    border-radius: 10px;
    font-family: var(--fonte-principal);
    font-weight: 500;
    padding: 5px 0;
}